* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    text-align: center;
  }
  
  .listItem {
    list-style-type: none;
    color: white;
  }
  
  .listItem:nth-child(4n+1),
  .listItem:nth-child(4n+4) {
    background-color: rgb(223, 87, 109);
  }
  
  .listItem:nth-child(4n+2),
  .listItem:nth-child(4n+3) {
    background-color: rgb(241, 12, 51);
  }

  .listItem:hover {
    transform: scale(1.01);
    color: yellow;
  }
  
  a,
  .fontIcon {
    color: rgb(177, 205, 50);
  }
  
  a:hover,
  .fontIcon:hover {
    color: yellow;
  }
  
  .home {
    background-image: url('../../Assets/bg.jpg');
  }
  
  .homeItem {
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
  }
  
  img {
    width: 70px;
    height: 70px;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 3px;
  }

  @media only screen and (max-width: 450px) {
    .homeList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .homeItem {
      display: flex;
      justify-content: space-around;
      font-size: 11px;
    }
  
    img {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  